html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}
/*Header*/
header{
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    height: 100%;
}
header div{
    padding-top: 14rem;
    padding-bottom: 15rem;
}
header h1{
    border: 0;
}
header hr{
    background-color: black;
    height: 1px;
    width: 24%;
}

/*navbar*/
.logo{
    height: 40px;
}
.contenido{
    background-color: white;
    align-content: center;
    height: 800px;
    width: auto;   
}
#cartelera{
    align-content: space-around;
    height: 800px;
    width: 300px;
}
.bandera{
    height: 20px;
    width: 25px;
}

.criticas{
    height: 400px;
    width: 80px;
    align-content: space-between;
    float: left;
    text-align: justify;
    display: flex;
}
#matrix{
    float: left;
    height: 520px;
    width: 350px;
}
.mazos{
    font-family: 'Gayathri', sans-serif;
}
.parallax{
    min-height: 500px;
    background: transparent;
}
.sobrenosotros{
    z-index: 2;
    position: relative;
}
#sobrenosotros hr{
    background-color: black;
    height: 1px;
    width: 10%;
}
.contenido{
    max-width: 1000px;
    padding-left: 120px;
}
#abajo{
    align-content: center;
    height: 70%;
    width: auto;
}
.footer{
    text-align: center;
    background-color:rgb(43, 42, 42);
    font-family: 'Gayathri', sans-serif;
}

.iconos a{
    text-decoration: none;
    color: white;
}